**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/*.user
**/appsettings.user.json
**/appsettings.Development.json
.git
.github
.gitignore
.gitattributes
**/node_modules
**/.output
**/.nuxt
**/dist
**/.DS_Store
**/*.md
DonBot.Tests
